.column {
    background-color: transparent;
    padding: 0.9rem;
    width: 30%;
  }

  .title-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .column h2 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.9rem;
    text-align: left;
  }
  
  .column .card + .card {
    margin-top: 0.625rem;
  }
  